.it {
  &-table-cell {
    border: 1px solid #f4f6f8;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    min-width: 145px;
    &--fixed {
      position: absolute;
      top: auto;
      left: 0;
      width: 145px;
      white-space: unset;
      text-align: left;
      backface-visibility: hidden;
      background: #fff;
      word-wrap: break-word;
      word-break: break-word;
      overflow-wrap: break-word;
    }
  }
}
